@model NBD6.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Client Details</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>Client</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ClientName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ClientName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ClientContact)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ClientContact)
                </dd>
                <dt class="col-sm-4">
                    Phone
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FormattedPhone)
                </dd>
            </dl>
        </div>
        <!-- Address Fields -->
        <div class="col-sm-6">
            <h4>Address</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Street)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Street)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Province)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Province)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Postal)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Postal)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Country)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Country)
                </dd>
            </dl>
        </div>
    </div>
</div>

<h4>Projects</h4>
@if (Model.Projects != null && Model.Projects.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Site</th>
                <th>Action</th> <!-- Add Action column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@project.ProjectStartDate.ToShortDateString()</td>
                    <td>@project.ProjectEndDate.ToShortDateString()</td>
                    <td>@project.ProjectSite</td>
                    <td><a asp-action="Details" asp-route-id="@project.ProjectID">View Details</a></td> <!-- Link to project details -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No projects found for this client.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>