@model NBD6.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>

        @* Address Fields *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ProvinceState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ProvinceState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.AreaCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.AreaCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
