<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
@model NBD6.Utilities.PaginatedList<NBD6.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

@if (TempData["AlertMessageClient"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AlertMessageClient"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["AlertMessageClientEdit"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AlertMessageClientEdit"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@using (Html.BeginForm("Index", "Clients", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" name="searchTerm" class="form-control w-100" placeholder="Search by Company, Client Name, Contact, Phone, Country..." value="@ViewBag.CurrentFilter" />
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanyNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Client Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Contact", "Index", new { sortOrder = ViewBag.ContactSortParm })
                </th>
                <th>
                    @Html.ActionLink("Phone", "Index", new { sortOrder = ViewBag.PhoneSortParm })
                </th>
                <th>
                    @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientContact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Country)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ClientID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingNavBar" model="Model" />
</form>

@section Scripts {
    <script>
        sessionStorage.clear();
    </script>
}

<style>
    /* Style for odd rows */
    .table-striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
</style>