@model NBD6.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h1>Address Details</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>Address</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Province)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Province)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Postal)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Postal)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Street)
                </dd>
            </dl>
        </div>

        @if (Model.Project != null)
        {
            <div class="col-md-6">
                <h4>Project</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Project.ProjectName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Project.ProjectName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Project.ProjectStartDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Project.ProjectStartDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Project.ProjectEndDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Project.ProjectEndDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Project.ProjectSite)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Project.ProjectSite)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Project.BidAmount)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Project.BidAmount)
                    </dd>
                </dl>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
