@model IEnumerable<NBD6.Models.UserVM>

@{
    ViewBag.Title = "User Roles";
}

<h2>User Role Assignments</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New User</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    foreach (var r in item.UserRoles)
                    {
                        @:  @r <br />
                    }
                }
            </td>
            <td>
                @{
                    // Check if the user is not an Admin
                    if (!item.UserRoles.Contains("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270E;
                        </a>
                        <a asp-action="Disable" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger disable-role"
                           role="button" data-bs-toggle="tooltip" title="Disable @ViewData["ControllerFriendlyName"]">
                            &#x2718;
                        </a>
                    }
                }
            </td>
        </tr>
    }

</table>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
