@model NBD6.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Project Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Project</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProjectName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProjectStartDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectStartDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProjectEndDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectEndDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProjectSite)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectSite)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidAmount)
                </dt>
                <dd class="col-sm-8">
                    $@Html.DisplayFor(model => model.BidAmount)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Project Address</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Street)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Street)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Province)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Province)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Postal)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Postal)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address.Country)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address.Country)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Client</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Client.CompanyName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Client.CompanyName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Client.ClientName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Client.ClientName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Client.ClientContact)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Client.ClientContact)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Client.ClientPhone)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Client.FormattedPhone)
                </dd>
            </dl>
        </div>
    </div>
</div>

@if (Model.Bids != null && Model.Bids.Any())
{
    <div class="container">
        <div class="float-md-right">
            <h4>Bids</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Bid Name</th>
                        <th>Bid Start Date</th>
                        <th>Bid End Date</th>
                        <th>Client Approval</th>
                        <th>NBD Approval</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bid in Model.Bids)
                    {
                        <tr>
                            <td>@bid.BidName</td>
                            <td>@bid.BidStart</td>
                            <td>@bid.BidEnd</td>
                            <td>@(bid.ClientApproved ? "Yes" : "No")</td>
                            <td>@(bid.NBDApproved ? "Yes" : "No")</td>
                            <td><a asp-controller="Bids" asp-action="Details" asp-route-id="@bid.BidID">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
