@model IEnumerable<NBD6.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("Index", "Projects", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("searchTerm")
        <input type="submit" value="Filter" />
    </p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.AreaCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientFirstName) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AreaCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
