@model IEnumerable<NBD6.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

@using (Html.BeginForm("Index", "Projects", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("searchTerm")
        <input type="submit" value="Filter" />
    </p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParm })
            </th>
            <th>
                @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
            </th>
            <th>
                @Html.ActionLink("Bid Amount", "Index", new { sortOrder = ViewBag.BidAmountSortParm })
            </th>
            <th>
                @Html.ActionLink("Client", "Index", new { sortOrder = ViewBag.CompanySortParm })
            </th>
            <th>
                @Html.ActionLink("Project Site", "Index", new { sortOrder = ViewBag.SiteSortParm })
            </th>
            <th>
                @Html.ActionLink("Street", "Index", new { sortOrder = ViewBag.StreetSortParm })
            </th>
            <th>
                @Html.ActionLink("Postal", "Index", new { sortOrder = ViewBag.PostalSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.CompanyName) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Postal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
