@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Approval";
}

<h1>Bid Approval</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Bid</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidStart)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidStart)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidEnd)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidEnd)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.ProjectName)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Materials</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var material in Model.Materials.Where(m => m.BidID == Model.BidID))
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialType)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialType)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialQuantity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialQuantity)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialDescription)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialSize)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialSize)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialPrice)
                    </dt>
                    <dd class="col-sm-8">
                        $@Html.DisplayFor(_ => material.MaterialPrice)
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Labour</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var labour in Model.Labours.Where(l => l.BidID == Model.BidID))
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => labour.LabourHours)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => labour.LabourHours)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => labour.LabourDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => labour.LabourDescription)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => labour.LabourPrice)
                    </dt>
                    <dd class="col-sm-8">
                        $@Html.DisplayFor(_ => labour.LabourPrice)
                    </dd>
                }
            </dl>
        </div>

        <div class="col-md-6">
            <h4>Staff</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var staffBid in Model.StaffBids)
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => staffBid.Staff.StaffSummary)
                    </dd>
                }
            </dl>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-12">
            <h4>Approval</h4>
            <hr />
            <form asp-action="Approval">
                <div class="form-group">
                    <label for="notes">Notes and Concerns:</label>
                    <textarea class="form-control" id="notes" name="notes" rows="3" style="resize: none; height: 175px;">@Model.Notes</textarea>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="clientApproval" name="clientApproval" value="true" @(Model.ClientApproved ? "checked" : "")>
                    <label class="form-check-label" for="clientApproval">Client Approval</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="nbdApproval" name="nbdApproval" value="true" @(Model.NBDApproved ? "checked" : "")>
                    <label class="form-check-label" for="nbdApproval">NBD Approval</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit Approval</button>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>