@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Details";
}

<h1>Bid Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Bid</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidStart)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidStart)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BidEnd)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BidEnd)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.ProjectName)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Materials</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var material in Model.Materials.Where(m => m.BidID == Model.BidID))
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialType)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialType)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialQuantity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialQuantity)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialDescription)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialSize)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => material.MaterialSize)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => material.MaterialPrice)
                    </dt>
                    <dd class="col-sm-8">
                        $@Html.DisplayFor(_ => material.MaterialPrice)
                    </dd>
                    <hr />
                }
            </dl>
        </div>


        <div class="col-md-6">
            <h4>Labour</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var labour in Model.Labours.Where(l => l.BidID == Model.BidID))
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => labour.LabourHours)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => labour.LabourHours) hours
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(_ => labour.LabourDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => labour.LabourDescription)
                    </dd>
                    <dt class="col-sm-4">
                        Price Per Hour
                    </dt>
                    <dd class="col-sm-8">
                        $@labour.LabourPrice.ToString("N2")
                    </dd>
                    <dt class="col-sm-4">
                        Total Cost
                    </dt>
                    <dd class="col-sm-8">
                        $@((decimal)labour.LabourHours * labour.LabourPrice)
                    </dd>
                    <hr />
                }
            </dl>
        </div>



        <div class="col-md-6">
            <h4>Staff</h4>
            <hr />
            <dl class="row" style="overflow-y: auto; overflow-x: hidden; max-height: 300px;">
                @foreach (var staffBid in Model.StaffBids)
                {
                    <dd class="col-sm-8">
                        @Html.DisplayFor(_ => staffBid.Staff.StaffSummary)
                    </dd>
                }
            </dl>
        </div>
        
        <div class="col-md-6">
            <h4>Total Prices</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Bid Amount</dt>
                <dd class="col-sm-8">
                    @{
                        decimal bidAmount = Convert.ToDecimal(Model.Project.BidAmount);
                    }
                    $@bidAmount
                </dd>

                <dt class="col-sm-4">Material Amount</dt>
                <dd class="col-sm-8">
                    @{
                        decimal materialAmount = Model.Materials.Sum(m => m.MaterialPrice);
                    }
                    $@materialAmount
                </dd>

                <dt class="col-sm-4">Labour Amount</dt>
                <dd class="col-sm-8">
                    @{
                        decimal labourAmount = Model.Labours.Sum(l => (decimal)l.LabourHours * l.LabourPrice);
                    }
                    $@labourAmount.ToString("N2")
                </dd>


                <dt class="col-sm-4">Total Left</dt>
                <dd class="col-sm-8">
                    @{
                        // Adjusting this calculation to show what's left from bidAmount after subtracting material and labour costs.
                        decimal totalLeft = bidAmount - (materialAmount + labourAmount);
                    }
                    $@totalLeft
                </dd>
            </dl>
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BidID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
