@model NBD6.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

<h1>Bid Edit</h1>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <h4>Bid</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BidID" />
            <div class="form-group">
                <label asp-for="BidName" class="control-label">Bid Name<span class="text-danger">*</span></label>
                <input asp-for="BidName" class="form-control" />
                <span asp-validation-for="BidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidStart" class="control-label">Bid Start Date<span class="text-danger">*</span></label>
                <input asp-for="BidStart" class="form-control" type="date" />
                <span asp-validation-for="BidStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidEnd" class="control-label">Bid End Date<span class="text-danger">*</span></label>
                <input asp-for="BidEnd" class="form-control" type="date" />
                <span asp-validation-for="BidEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label">Project<span class="text-danger">*</span></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID">
                    <option value="">Select a Project</option>
                </select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
        </div>

        <!-- Labor Fields -->
        <div class="col-md-6">
            <h4>Labor</h4>
            <hr />
            @foreach (var labour in Model.Labours)
            {
                <div class="labour-item">
                    <div class="form-group">
                        <label asp-for="@labour.LabourHours" class="control-label">Labour Hours<span class="text-danger">*</span></label>
                        <input asp-for="@labour.LabourHours" class="form-control" />
                        <span asp-validation-for="@labour.LabourHours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@labour.LabourDescription" class="control-label">Description<span class="text-danger">*</span></label>
                        <input asp-for="@labour.LabourDescription" class="form-control" />
                        <span asp-validation-for="@labour.LabourDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@labour.LabourPrice" class="control-label">Labour Price<span class="text-danger">*</span></label>
                        <input asp-for="@labour.LabourPrice" class="form-control" />
                        <span asp-validation-for="@labour.LabourPrice" class="text-danger"></span>
                    </div>
                </div>
            }
        </div>

        <!-- Material Fields -->
        <div class="col-md-6">
            <h4>Materials</h4>
            <hr />
            @foreach (var material in Model.Materials)
            {
                <div class="material-item">
                    <div class="form-group">
                        <label asp-for="@material.MaterialType" class="control-label">Material Type<span class="text-danger">*</span></label>
                        <input asp-for="@material.MaterialType" class="form-control" />
                        <span asp-validation-for="@material.MaterialType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@material.MaterialQuantity" class="control-label">Material Quantity<span class="text-danger">*</span></label>
                        <input asp-for="@material.MaterialQuantity" class="form-control" />
                        <span asp-validation-for="@material.MaterialQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@material.MaterialDescription" class="control-label">Material Description<span class="text-danger">*</span></label>
                        <input asp-for="@material.MaterialDescription" class="form-control" />
                        <span asp-validation-for="@material.MaterialDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@material.MaterialSize" class="control-label">Material Size<span class="text-danger">*</span></label>
                        <input asp-for="@material.MaterialSize" class="form-control" />
                        <span asp-validation-for="@material.MaterialSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@material.MaterialPrice" class="control-label">Material Price<span class="text-danger">*</span></label>
                        <input asp-for="@material.MaterialPrice" class="form-control" />
                        <span asp-validation-for="@material.MaterialPrice" class="text-danger"></span>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h4>Staff</h4>
            <hr />
            <div id="staffContainer">
                @foreach (var staff in Model.StaffBids)
                {
                    <div class="staffFields">
                        <label asp-for="@staff.StaffID" class="control-label">Staff<span class="text-danger">*</span></label>
                        <select asp-for="@staff.StaffID" class="form-control" asp-items="ViewBag.StaffID" name="StaffIDList">
                            <option value="">Select Staff</option>
                        </select>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div class="col-md-1">
    <div>
        <a class="nav-link text-dark" href="javascript:history.back()">Go Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <!-- Only include the Select2 CSS and JS once, and use jQuery 3.6.0 as it's more recent -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

        <script>
            $(document).ready(function () {
                // Adjust the selector to target the project dropdown by its ID
                $('#ProjectID').select2({
                    placeholder: "Select a Project",
                    allowClear: true
                });
            });
        </script>
    }
}

<script>
    document.getElementById('addStaffBtn').addEventListener('click', function () {
        var staffContainer = document.getElementById('staffContainer');
        var staffFields = document.querySelector('.staffFields');
        var clone = staffFields.cloneNode(true);
        staffContainer.appendChild(clone);
    });

    function removeStaff(element) {
        element.parentNode.remove();
    }
</script>