@model NBD6.Utilities.PaginatedList<NBD6.Models.Bid>

@{
    ViewData["Title"] = "Bids";
}

<h1>Bids</h1>

@using (Html.BeginForm("Index", "Bids", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" name="searchString" class="form-control w-100" placeholder="Search by Bid Name , Start Date , End Date & Project Name..." />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Search" class="btn btn-primary w-15" />
        </div>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Bid Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
                <th>
                    @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.ProjectNameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.ProjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BidID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BidID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingNavBar" model="Model" />
</form>


@section Scripts {
    <script>
        // Your existing scripts or any new ones if needed
    </script>
}
