@model IEnumerable<NBD6.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.ProjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BidID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BidID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BidID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
